<form action=$formRedirect method="post">
    <div class="form-group">
        <label>Dino Species</label>
        <input type="text" class="form-control" name="species" placeholder="Enter species">

        <select name="paddock_id">
            #foreach ($paddock in $paddocks)
            <option value="$paddock.id">$paddock.name</option>
            #end
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>