<form action=$formRedirect method="post">
    <div class="form-group">
        <select name="paddock_id">
            #foreach ($paddock in $paddocks)
            <option value="$paddock.id">$paddock.name</option>
            #end
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>