<form action=$formRedirect method="post">
    <div class="form-group">
        <label>Paddock Name</label>
        <input type="text" class="form-control" name="paddock_name" placeholder="Enter paddock name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>