<a href="/paddocks/new">
    <button type="button" class="btn btn-primary">New Paddock</button>
</a>
<table>
    <tr>
        <th>
            Paddock Id
        </th>
        <th>
            Paddock Name
        </th>
    </tr>

    #foreach( $paddock in $paddocks )
        <tr>
            <td>
                $paddock.id
            </td>
            <td>
                $paddock.name
            </td>
        </tr>
    #end
</table>