<a href="/paddocks">
    <button type="button" class="btn btn-primary">Primary</button>
</a>
<table>
    <tr>
        <th>
            Paddock Id
        </th>
    </tr>

    #foreach( $paddock in $paddocks )
        <tr>
            <td>
                $paddock.id
            </td>
        </tr>
    #end
</table>